BODY {background:url(Sky1.jpg); 
COLOR:Purple;font-family:"Times New Roman", 
"normal"; }

.stm {font-family:serif;font-style:oblique;
	font-variant:small-caps;
	font-size:25;text-decoration:blink;
	text-align:center;color:#2D007F;margin-top:0;margin-bottom:0}